#main {
    margin: 0 auto;
    width: 1400px;
}

#title {
    font-size: 50px;
}

#headerDiv {
    height: 180px;
    border-bottom: 3px solid #000;
}


#logoDiv {
    width: 500px;
    background-color: #D9D9D9;
    height: 120px;
    float: right;
    margin-right: 30px;
    margin-top: 30px;
}

/*switch*/
.mui-switch {
    width: 4em;
    height: 2.2em;
    position: relative;
    border: 1px solid #dfdfdf;
    background-color: #fdfdfd;
    box-shadow: #dfdfdf 0 0 0 0 inset;
    border-radius: 3em;
    background-clip: content-box;
    display: inline-block;
    -webkit-appearance: none;
    user-select: none;
    outline: none;
}

.mui-switch:before {
    content: '';
    width: 2em;
    height: 2em;
    position: absolute;
    top: 0px;
    left: 0;
    border-radius: 3em;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

.mui-switch:checked:before {
    left: 2em;
}

.mui-switch.mui-switch-anim {
    transition: border cubic-bezier(0, 0, 0, 1) 0.4s, box-shadow cubic-bezier(0, 0, 0, 1) 0.4s;
}

.mui-switch.mui-switch-anim:before {
    transition: left 0.3s;
}

.mui-switch.mui-switch-anim:checked {
    box-shadow: #64bd63 0 0 0 16px inset;
    background-color: #64bd63;
    transition: border ease 0.4s, box-shadow ease 0.4s, background-color ease 1.2s;
}

.mui-switch.mui-switch-anim:checked:before {
    transition: left 0.3s;
}

.menuListUl li {
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
    width: 220px;
    height: 50px;
    background-color: #999999;
    color: #fefefe;
    line-height: 50px;
    margin-left: 30px;
}

.menuSelect {
    width: 280px !important;
    margin-left: -30px !important;
    background-color: #434343 !important;
    color: #fdfdfd !important;
}

#contentDiv {
    margin-top: 10px;
}

.selectDay {
    float: left;
    width: 100px;
    height: 40px;
    background-color: #999999;
    border-radius: 3px;
    text-align: center;
    line-height: 40px;
    margin-right: 30px;
}

.defaultDay {
    float: left;
    width: 100px;
    height: 40px;
    background-color: #DDDDDD;
    border-radius: 3px;
    text-align: center;
    line-height: 40px;
    margin-right: 30px;
}

.button {
    background-color: #EF855B; /* Orange */
    border: none;
    color: black;
    padding: 20px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 50px 300px;
    cursor: pointer;
    border-radius: 12px;
}