$quantity-btn-color: #95d7fc;
.product {
	width: 30%;
	margin: 30px;
}

.form-group {
	width: 30%;
	margin: 30px;
	.glyphicon {
		color: $quantity-btn-color;
	}
}

.moveLabelUp {
    margin-top: 0px;
}

.moveButtonsDown {
    margin-top: 10px;
}

.moveUp{
    margin-top: -2px;
}

.moveDown{
    margin-top: 2px;
}

.title {
    font-size: 20px;
}

.button {
    background-color: #e7e7e7; /* Grey */
    border: none;
    color: black;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

button2 {
    height: 30px;
    width: 30px;
    outline: none;
    margin: 0;
    align-items: center;
    background: transparent;
    border: none !important;
    font-size: 0;
    margin-left: 5px;
}

html, body{
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    margin: 0;
    min-height: 400px;
    padding: 0;
    width: 300px;
    align-items: center;
}
h1{
    font-family: "Menlo", monospace;
    font-size: 22px;
    font-weight: 400;
    margin: 0;
    color: #2f5876;
    align-items: center;
}

h5{
    margin: 5px;
}

img{
    width: 30px;
    align-items: center;
}

.modal-header{
    align-items: center;
}

.modal-content{
    padding: 0 22px;
    align-items: center;
}

.modal-icons{
    height: 50px;
    width 100%;
    align-items: center;
}

.logo{
    padding: 16px;
    align-items: center;
}

.logo-icon{
    vertical-align: text-bottom;
    margin-right: 12px;
}

.version{
    color: #444;
    font-size: 10px;
}

.flex-container{
    display: flex;
    justify-content: space-between;
    padding: 5px 22px;
}

.flex{
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    width 120px;
}

.flex:hover{
    opacity: 0.5;
}

.flex .fa {
    font-size: 40px;
    color: #2f5876;
}
#rectangle{
  width: 50px;
  height: 10px;
  background:grey;
}