html, body{
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    margin: 0;
    min-height: 500px;
    padding: 0;
    width: 300px;
    align-items: center;
}

.moveLabelUp {
    margin-top: 0px;
}

.moveButtonsDown {
    margin-top: 150px;
}

.moveLabelRight{
    margin-left: 25px;
}

.moveButtonsDown2{
  margin-top: 10px;
}

.moveTotalTime{
  margin-top: -25px;
  margin-left: 215px;
}

.moveEndTime{
  margin-top: -66px;
  margin-left: 180px;
}

.moveUntilBreak{
  margin-top: -40px;
  margin-left: 183px;
}

.moveButtonsDown3{
  margin-top: 25px;
}

.moveRight{
  margin-right: 50px;
}

.title {
    font-size: 20px;
}

.button {
    background-color: #0099cc;
    color: #ffffff;
    border: none;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

button:disabled,button[disabled]{
  background-color: #cccccc;
  color: #666666;
  border: none;
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button2 {
    height: 30px;
    width: 30px;
    outline: none;
    margin: 0;
    align-items: center;
    background: transparent;
    border: none !important;
    font-size: 0;
    margin-left: 5px;
}

.button3{
    background-color: #e7e7e7;
    border: none;
    color: black;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    height: 70px;
    width: 140px;
    outline: none;
}

.moveTrackButtons{
    margin-left = 145px;
    margin-top = -70px;
}

.buttonContainer{
    align-items: center;
    display: inline-block;
}

html, body{
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    margin: 0;
    min-height: 400px;
    padding: 0;
    width: 300px;
    align-items: center;
}

h1{
    font-family: "Menlo", monospace;
    font-size: 22px;
    font-weight: 400;
    margin: 0;
    color: #2f5876;
    align-items: center;
}

#rectangle{
  width: 50px;
  height: 10px;
  background:grey;
}

h7{
  font-family: "Menlo", monospace;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    color: #2f5876;
    align-items: center;
}

h5{
    margin: 5px;
}

img{
    width: 30px;
    align-items: center;
}

.modal-header{
    align-items: center;
}

.modal-content{
    overflow: hidden
    padding: 0 22px;
    align-items: center;
}

.modal-icons{
    height: 50px;
    width 100%;
    align-items: center;
}

.logo{
    padding: 16px;
    align-items: center;
}

.logo-icon{
    vertical-align: text-bottom;
    margin-right: 12px;
}

.version{
    color: #444;
    font-size: 10px;
}

.flex-container{
    display: flex;
    justify-content: space-between;
    padding: 5px 22px;
}

.flex{
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    width 120px;
}

.flex:hover{
    opacity: 0.5;
}

.flex .fa {
    font-size: 40px;
    color: #2f5876;
}

.alignmiddle{
  align-items:center;
}

